html body {
  --ls-font-family: "Source Sans Pro";
  font-family: "Source Sans Pro" !important;
}

.title {
  font-family: var(--ls-font-family) !important;
}

:not(pre):not(mark) > code {
  font-family: "JetBrainsMono Nerd Font" !important;
  font-size: 0.8em;
}

.block-highlight,
.content .selected {
  background: linear-gradient(
      to left,
      var(--ls-block-highlight-color),
      var(--ls-block-highlight-color)
    )
    no-repeat 20px 0;
}
