html body {
  --ls-font-family: "Source Sans Pro";
  font-family: "Source Sans Pro" !important;
}

:not(pre):not(mark) > code {
  font-family: "JetBrainsMono Nerd Font", monospace !important;
  font-size: 0.8em;
}
