html body {
  --ls-font-family: "Source Sans Pro";
  font-family: "Source Sans Pro" !important;
}

.title {
  font-family: var(--ls-font-family) !important;
}

:not(pre):not(mark) > code, .raw_html > pre {
  font-family: "JetBrainsMono Nerd Font" !important;
  font-size: 0.8em;
}
