{:blocks (),
 :pages
 ({:block/created-at 1658371370493,
   :block/name "62d8bd1c-8ce0-40a6-8bed-d02e91e46a3f",
   :block/properties
   {:id "62d8bd1c-8ce0-40a6-8bed-d02e91e46a3f",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/updated-at 1658371370493,
   :block/uuid #uuid "62d8bd1c-8ce0-40a6-8bed-d02e91e46a3f",
   :block/whiteboard? true})}
