{:blocks (),
 :pages
 ({:block/name "62ef5d16-e019-418d-89f4-7676e625fb9a",
   :block/original-name "62ef5d16-e019-418d-89f4-7676e625fb9a",
   :block/properties
   {:id "62ef5d16-e019-418d-89f4-7676e625fb9a",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62ef5d16-e019-418d-89f4-7676e625fb9a",
   :block/whiteboard? true})}
