{:blocks (),
 :pages
 ({:block/uuid #uuid "62ef5d1a-9fa7-4768-83ee-3222bb60a591",
   :block/properties
   {:id "62ef5d1a-9fa7-4768-83ee-3222bb60a591",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/journal? false,
   :block/updated-at 1659856688509,
   :block/created-at 1659856688509,
   :block/whiteboard? true,
   :block/name "62ef5d1a-9fa7-4768-83ee-3222bb60a591",
   :block/original-name "62ef5d1a-9fa7-4768-83ee-3222bb60a591"})}
