{:blocks (),
 :pages
 ({:block/name "62ef5d1c-bfc6-4b15-b733-fc9427c4c1b3",
   :block/original-name "62ef5d1c-bfc6-4b15-b733-fc9427c4c1b3",
   :block/properties
   {:id "62ef5d1c-bfc6-4b15-b733-fc9427c4c1b3",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62ef5d1c-bfc6-4b15-b733-fc9427c4c1b3",
   :block/whiteboard? true})}
