{:blocks (),
 :pages
 ({:block/uuid #uuid "62ef57a5-fb8c-4f13-bc33-822684aead3c",
   :block/properties
   {:id "62ef57a5-fb8c-4f13-bc33-822684aead3c",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/journal? false,
   :block/updated-at 1659856688408,
   :block/created-at 1659856688408,
   :block/whiteboard? true,
   :block/name "62ef57a5-fb8c-4f13-bc33-822684aead3c",
   :block/original-name "62ef57a5-fb8c-4f13-bc33-822684aead3c"})}
