{:blocks (),
 :pages
 ({:block/name "62ef57a8-e519-44a4-a5be-419222cb2ccc",
   :block/original-name "62ef57a8-e519-44a4-a5be-419222cb2ccc",
   :block/properties
   {:id "62ef57a8-e519-44a4-a5be-419222cb2ccc",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62ef57a8-e519-44a4-a5be-419222cb2ccc",
   :block/whiteboard? true})}
