{:blocks (),
 :pages
 ({:block/name "62ef5d19-b694-449e-b395-e70eae198951",
   :block/original-name "62ef5d19-b694-449e-b395-e70eae198951",
   :block/properties
   {:id "62ef5d19-b694-449e-b395-e70eae198951",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62ef5d19-b694-449e-b395-e70eae198951",
   :block/whiteboard? true})}
