{:blocks
 ({:block/properties
   {:blockType "B",
    :stroke "var(--ls-primary-text-color)",
    :collapsed false,
    :scale [1 1],
    :pageId "62f394a8-5414-4ef9-bce5-61311b219032",
    :ls-type :whiteboard-shape,
    :fill "var(--ls-secondary-background-color)",
    :compact true,
    :type "logseq-portal",
    :size [400 57],
    :strokeWidth 2,
    :opacity 1,
    :id "84f017a0-189e-11ed-a854-1fb75e55c44d",
    :point [200.81640625 451.88671875],
    :parentId "62f1f7b7-9821-405a-9e01-e1c7010d75b1",
    :collapsedHeight 0,
    :nonce 1660130542606}}),
 :pages
 ({:block/uuid #uuid "62f1f7b7-9821-405a-9e01-e1c7010d75b1",
   :block/properties
   {:id "62f1f7b7-9821-405a-9e01-e1c7010d75b1",
    :name "page",
    :bindings {},
    :nonce 3,
    :assets []},
   :block/journal? false,
   :block/updated-at 1660025077202,
   :block/created-at 1660025077202,
   :block/whiteboard? true,
   :block/name "62f1f7b7-9821-405a-9e01-e1c7010d75b1",
   :block/original-name "62f1f7b7-9821-405a-9e01-e1c7010d75b1"})}
