{:blocks (),
 :pages
 ({:block/name "62f32b83-b0b4-45a1-a79e-410b84355f9b",
   :block/original-name "62f32b83-b0b4-45a1-a79e-410b84355f9b",
   :block/properties
   {:id "62f32b83-b0b4-45a1-a79e-410b84355f9b",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62f32b83-b0b4-45a1-a79e-410b84355f9b",
   :block/whiteboard? true})}
