{:blocks (),
 :pages
 ({:block/name "62f3948f-f99c-41d1-8dac-6e6759b461b0",
   :block/original-name "62f3948f-f99c-41d1-8dac-6e6759b461b0",
   :block/properties
   {:id "62f3948f-f99c-41d1-8dac-6e6759b461b0",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62f3948f-f99c-41d1-8dac-6e6759b461b0",
   :block/whiteboard? true})}
