{:blocks (),
 :pages
 ({:block/name "62f3a078-a382-4f77-afa2-25f26fe448f1",
   :block/original-name "62f3a078-a382-4f77-afa2-25f26fe448f1",
   :block/properties
   {:id "62f3a078-a382-4f77-afa2-25f26fe448f1",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62f3a078-a382-4f77-afa2-25f26fe448f1",
   :block/whiteboard? true})}
