{:blocks (),
 :pages
 ({:block/name "62f33a88-a2ec-4f34-9f15-bd3bf5d6f4a4",
   :block/original-name "62f33a88-a2ec-4f34-9f15-bd3bf5d6f4a4",
   :block/properties
   {:id "62f33a88-a2ec-4f34-9f15-bd3bf5d6f4a4",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62f33a88-a2ec-4f34-9f15-bd3bf5d6f4a4",
   :block/whiteboard? true})}
