{:blocks (),
 :pages
 ({:block/name "62f39993-7c5c-4da9-b1eb-7ac428fa8576",
   :block/original-name "62f39993-7c5c-4da9-b1eb-7ac428fa8576",
   :block/properties
   {:id "62f39993-7c5c-4da9-b1eb-7ac428fa8576",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62f39993-7c5c-4da9-b1eb-7ac428fa8576",
   :block/whiteboard? true})}
