{:blocks (),
 :pages
 ({:block/name "62f394e1-30d9-478a-8337-cb9deba4d66a",
   :block/original-name "62f394e1-30d9-478a-8337-cb9deba4d66a",
   :block/properties
   {:id "62f394e1-30d9-478a-8337-cb9deba4d66a",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62f394e1-30d9-478a-8337-cb9deba4d66a",
   :block/whiteboard? true})}
