{:blocks (),
 :pages
 ({:block/name "62f3994f-e8ae-41d0-b107-d6758d2c69e6",
   :block/original-name "62f3994f-e8ae-41d0-b107-d6758d2c69e6",
   :block/properties
   {:id "62f3994f-e8ae-41d0-b107-d6758d2c69e6",
    :name "Page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/uuid #uuid "62f3994f-e8ae-41d0-b107-d6758d2c69e6",
   :block/whiteboard? true})}
