{:blocks
 ({:block/content "asdfasdf",
   :block/format :markdown,
   :block/parent
   {:block/name "62f46cec-4adf-4823-b9e5-2b10484f0864",
    :block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864"},
   :block/properties {},
   :block/uuid #uuid "6302e30a-58bc-4843-81b1-b372111b1fdc"}
  {:block/properties
   {:blockType "B",
    :stroke "var(--ls-primary-text-color)",
    :collapsed false,
    :index 0,
    :scale [1 1],
    :pageId "6302e30a-58bc-4843-81b1-b372111b1fdc",
    :scaleLevel "md",
    :ls-type :whiteboard-shape,
    :fill "var(--ls-secondary-background-color)",
    :compact true,
    :type "logseq-portal",
    :size [800 45],
    :strokeType "line",
    :strokeWidth 2,
    :opacity 1,
    :id "13961860-21be-11ed-a20d-7fd7d97590ac",
    :noFill false,
    :point [156.80078125 292.84375],
    :parentId "62f46cec-4adf-4823-b9e5-2b10484f0864",
    :collapsedHeight 0,
    :nonce 1661133590496}}),
 :pages
 ({:block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864",
   :block/properties
   {:id "62f46cec-4adf-4823-b9e5-2b10484f0864",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/updated-at 1661133590497,
   :block/created-at 1660185910371,
   :block/whiteboard? true,
   :block/name "62f46cec-4adf-4823-b9e5-2b10484f0864",
   :block/original-name "62f46cec-4adf-4823-b9e5-2b10484f0864"})}
