{:blocks
 ({:block/properties
   {:index 0,
    :scale [1 1],
    :ls-type :whiteboard-shape,
    :type "iframe",
    :size [853 480],
    :id "d5cc2e00-37e5-11ed-92ce-a7bf8b8d0453",
    :url
    "https://stackblitz.com/edit/nodemon-ssuyjf?embed=1&file=index.js",
    :point [308.5390625 93.7578125],
    :parentId "631b5fc2-b74e-44fe-bc06-b6802fc82086",
    :nonce 1663569613196}}),
 :pages
 ({:block/created-at 1663566042782,
   :block/name "631b5fc2-b74e-44fe-bc06-b6802fc82086",
   :block/properties
   {:id "631b5fc2-b74e-44fe-bc06-b6802fc82086",
    :name "page",
    :bindings {},
    :nonce 4,
    :assets [],
    :ls-type :whiteboard-page},
   :block/updated-at 1663569613198,
   :block/uuid #uuid "631b5fc2-b74e-44fe-bc06-b6802fc82086",
   :block/whiteboard? true})}
