{:blocks ({:block/properties {:ls-type :whiteboard-shape, :logseq.tldraw.shape {:blockType "P", :stroke "var(--ls-primary-text-color)", :collapsed false, :borderRadius 8, :index 0, :scale [1 1], :pageId "wiki", :scaleLevel "md", :fill "var(--ls-secondary-background-color)", :compact false, :isAutoResizing true, :type "logseq-portal", :size [400 115], :strokeType "line", :strokeWidth 2, :opacity 1, :id "8b919fc0-46f2-11ed-a08b-91ab08201586", :noFill false, :point [239.296875 252.6796875], :parentId "63414e6f-d25b-43a2-a77d-9822ecd4d293", :collapsedHeight 0, :nonce 1665224305599}}}), :pages ({:block/uuid #uuid "63414e6f-d25b-43a2-a77d-9822ecd4d293", :block/properties {:ls-type :whiteboard-page, :logseq.tldraw.page {:id "63414e6f-d25b-43a2-a77d-9822ecd4d293", :name "page", :bindings {}, :nonce 5, :assets []}}, :block/updated-at 1665563830492, :block/created-at 1665224303295, :block/type "whiteboard", :block/name "asdfasdfww", :block/original-name "asdfasdfww"})}