{:blocks (
{:block/content "Some random content\nid:: 63772f95-16d4-431f-8188-90e4edb139b7"
:block/format :markdown
:block/left 
{:block/uuid #uuid "63730203-a820-44f8-bf73-5eaaf0edb011"}
:block/parent 
{:block/uuid #uuid "63730203-a820-44f8-bf73-5eaaf0edb011"}
:block/properties 
{:id "63772f95-16d4-431f-8188-90e4edb139b7"}
:block/uuid #uuid "63772f95-16d4-431f-8188-90e4edb139b7"} 
{:block/created-at 1668939087060
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:refs []
:fill ""
:type "text"
:size [61 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b05ef6a0-68bb-11ed-9d8b-abed503365d4"
:padding 4
:fontWeight 400
:noFill true
:point [1273.1081911530396 484.17723404974834]
:lineHeight 1.2
:fontSize 20
:parentId "63730203-a820-44f8-bf73-5eaaf0edb011"
:nonce 1668939084568
:italic false
:text "assdd"}}
:block/updated-at 1668939356412} 
{:block/created-at 1668939356412
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:refs []
:pageId "foo"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 278]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c0f63f50-68bb-11ed-9d8b-abed503365d4"
:noFill false
:point [1215.676941153039 648.519421549748]
:parentId "63730203-a820-44f8-bf73-5eaaf0edb011"
:collapsedHeight 0
:nonce 1668939112396}}
:block/updated-at 1668939356412})
:pages (
{:block/uuid #uuid "63730203-a820-44f8-bf73-5eaaf0edb011"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "63730203-a820-44f8-bf73-5eaaf0edb011"
:name "page"
:bindings 
{}
:nonce 90
:assets []}}
:block/journal? false
:block/updated-at 1668939356411
:block/created-at 1668481539920
:block/format :markdown
:block/type "whiteboard"
:block/name "designing"
:block/original-name "designing"})}