{:blocks (
{:block/content "Some random content\nid:: 63772f95-16d4-431f-8188-90e4edb139b7"
:block/format :markdown
:block/left 
{:block/uuid #uuid "63730203-a820-44f8-bf73-5eaaf0edb011"}
:block/parent 
{:block/uuid #uuid "63730203-a820-44f8-bf73-5eaaf0edb011"}
:block/properties 
{:id "63772f95-16d4-431f-8188-90e4edb139b7"}
:block/uuid #uuid "63772f95-16d4-431f-8188-90e4edb139b7"} 
{:block/created-at 1668755352774
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 -1]
:refs ["logseq mobile development" "contents"]
:pageId "63772f95-16d4-431f-8188-90e4edb139b7"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "e7b20f50-670f-11ed-8f34-f77d6626cbe2"
:noFill false
:point [601.56640625 95.05078125]
:parentId "63730203-a820-44f8-bf73-5eaaf0edb011"
:collapsedHeight 0
:nonce 1668755353091}}
:block/updated-at 1668875994924} 
{:block/created-at 1668875989434
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 1
:scale [1 1]
:refs ["logseq mobile development"]
:fill ""
:type "box"
:size [343.1875 205.0390625]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c88cbac0-6828-11ed-b225-9387a329ca50"
:noFill false
:point [736.1484375000002 413.0179687500006]
:parentId "63730203-a820-44f8-bf73-5eaaf0edb011"
:nonce 1668875989118}}
:block/updated-at 1668875994925})
:pages (
{:block/uuid #uuid "63730203-a820-44f8-bf73-5eaaf0edb011"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "63730203-a820-44f8-bf73-5eaaf0edb011"
:name "page"
:bindings 
{}
:nonce 26
:assets []}}
:block/journal? false
:block/updated-at 1668875994924
:block/created-at 1668481539920
:block/format :markdown
:block/type "whiteboard"
:block/name "designing"
:block/original-name "designing"})}