{:blocks
 ({:block/content
   "https://www.maxiferreira.com/blog/astro-page-transitions/",
   :block/format :markdown,
   :block/parent
   {:block/name "random read later",
    :block/uuid #uuid "6308611e-e8cf-4051-9816-7dbc2e29b054"},
   :block/uuid #uuid "63087e3d-4302-4ffc-856c-3723e692c837"}
  {:block/content "{{renderer :todomaster}}",
   :block/format :markdown,
   :block/parent
   {:block/name "random read later",
    :block/uuid #uuid "6308611e-e8cf-4051-9816-7dbc2e29b054"},
   :block/properties {},
   :block/uuid #uuid "63087fb1-8bc1-41e9-9a76-4107e539dd0d"}
  {:block/content "asdasdasdasdfasdf",
   :block/format :markdown,
   :block/parent
   {:block/name "random read later",
    :block/uuid #uuid "6308611e-e8cf-4051-9816-7dbc2e29b054"},
   :block/properties {},
   :block/uuid #uuid "630c9cef-fdfe-4c6d-adef-812a1ab4dd22"}
  {:block/properties
   {:blockType "B",
    :stroke "var(--ls-primary-text-color)",
    :collapsed false,
    :index 0,
    :scale [1 1],
    :pageId "630c9cef-fdfe-4c6d-adef-812a1ab4dd22",
    :scaleLevel "md",
    :ls-type :whiteboard-shape,
    :fill "var(--ls-secondary-background-color)",
    :compact true,
    :isAutoResizing true,
    :type "logseq-portal",
    :size [400 45],
    :strokeType "line",
    :strokeWidth 2,
    :opacity 1,
    :id "2a09aa40-278a-11ed-9c3e-abab28c1de95",
    :noFill false,
    :point [376.9453125 215.33203125],
    :parentId "6308611e-e8cf-4051-9816-7dbc2e29b054",
    :collapsedHeight 0,
    :nonce 1661770991295}}),
 :pages
 ({:block/uuid #uuid "6308611e-e8cf-4051-9816-7dbc2e29b054",
   :block/properties
   {:id "6308611e-e8cf-4051-9816-7dbc2e29b054",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/journal? false,
   :block/updated-at 1661770993458,
   :block/created-at 1661500049327,
   :block/whiteboard? true,
   :block/name "random read later",
   :block/original-name "random read later"})}
