{:blocks (
{:block/created-at 1668481565464
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "6372f77a-bee7-4530-bcf5-152dd4ea8d97"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6fc2e5c0-6492-11ed-b909-15b61a1cb844"
:noFill false
:point [425.76171875 424.41796875]
:parentId "6372f77c-2647-4ebb-abe0-56df83c1bd9e"
:collapsedHeight 0
:nonce 1668481562142}}
:block/updated-at 1668481605433} 
{:block/content "In the last decade we have seen many interesting developments in databases, in dis‐\ntributed systems, and in the ways we build applications on top of them. There are\nvarious driving forces for these developments:"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6372f77c-2647-4ebb-abe0-56df83c1bd9e"}
:block/parent 
{:block/uuid #uuid "6372f77c-2647-4ebb-abe0-56df83c1bd9e"}
:block/uuid #uuid "63730242-08cd-4bf5-b513-6244ca83fa0c"})
:pages (
{:block/uuid #uuid "6372f77c-2647-4ebb-abe0-56df83c1bd9e"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6372f77c-2647-4ebb-abe0-56df83c1bd9e"
:name "page"
:bindings 
{}
:nonce 12
:assets []}}
:block/updated-at 1668481605433
:block/created-at 1668481539923
:block/type "whiteboard"
:block/name "test"
:block/original-name "test"})}