{:blocks (),
 :pages
 ({:block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b",
   :block/properties
   {:id "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/journal? false,
   :block/updated-at 1658371370494,
   :block/created-at 1658371370494,
   :block/whiteboard? true,
   :block/name "test-wb", 
   :block/original-name "test-wb"})}
