{:blocks
 ({:block/left
   {:block/name "test-wb",
    :block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b"},
   :block/page
   {:block/name "test-wb",
    :block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b"},
   :block/parent
   {:block/name "test-wb",
    :block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b"},
   :block/path-refs
   [{:block/name "思源字体",
     :block/uuid #uuid "62d96d79-2067-418b-a907-ace7dd5149d4"}
    {:block/name "test-wb",
     :block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b"}],
   :block/properties
   {:blockType "P",
    :stroke "var(--ls-primary-text-color)",
    :rotation 0,
    :collapsed false,
    :scale [1 1],
    :pageId "思源字体",
    :ls-type :whiteboard-shape,
    :fill "var(--ls-secondary-background-color)",
    :type "logseq-portal",
    :size [600 532.18359375],
    :strokeWidth 2,
    :opacity 1,
    :id "aa8c74a0-089e-11ed-bf88-f54e378057d5",
    :point [74.0295393566102 26.90655140981761],
    :parentId "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b",
    :collapsedHeight 0,
    :nonce 1658633692756},
   :block/uuid #uuid "aa8c74a0-089e-11ed-bf88-f54e378057d5"}
  {:block/left
   {:block/uuid #uuid "aa8c74a0-089e-11ed-bf88-f54e378057d5"},
   :block/page
   {:block/name "test-wb",
    :block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b"},
   :block/parent
   {:block/name "test-wb",
    :block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b"},
   :block/path-refs
   [{:block/name "test-wb",
     :block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b"}
    {:block/uuid #uuid "62d8bccb-9abb-4152-9a1c-4756b6e52d75"}],
   :block/properties
   {:blockType "B",
    :stroke "var(--ls-primary-text-color)",
    :collapsed false,
    :scale [1 1],
    :pageId "62d8bccb-9abb-4152-9a1c-4756b6e52d75",
    :ls-type :whiteboard-shape,
    :fill "var(--ls-secondary-background-color)",
    :type "logseq-portal",
    :size [600 400],
    :strokeWidth 2,
    :opacity 1,
    :id "aee97570-0907-11ed-b7e4-775d366131a6",
    :point [788.4493562491506 167.4881884778897],
    :parentId "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b",
    :collapsedHeight 0,
    :nonce 1658633693886},
   :block/uuid #uuid "aee97570-0907-11ed-b7e4-775d366131a6"}),
 :pages
 ({:block/uuid #uuid "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b",
   :block/properties
   {:id "62d8bce2-c3b4-4a75-88db-e87b3ccd6f5b",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/journal? false,
   :block/updated-at 1658371370494,
   :block/created-at 1658371370494,
   :block/whiteboard? true,
   :block/name "test-wb", 
   :block/original-name "test-wb"})}
