{:blocks
 ({:block/content "asdfasdf",
   :block/format :markdown,
   :block/left
   {:block/name "testing",
    :block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864"},
   :block/parent
   {:block/name "testing",
    :block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864"},
   :block/properties {},
   :block/uuid #uuid "6302e30a-58bc-4843-81b1-b372111b1fdc"}
  {:block/content "Retro on Logseq Whiteboard Development",
   :block/format :markdown,
   :block/left
   {:block/uuid #uuid "6302e30a-58bc-4843-81b1-b372111b1fdc"},
   :block/parent
   {:block/name "testing",
    :block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864"},
   :block/uuid #uuid "6302e7b4-7ed7-4932-9fe3-77e00137768f"}
  {:block/content "Retro on Logseq Whiteboard Development",
   :block/format :markdown,
   :block/left
   {:block/uuid #uuid "6302e7b4-7ed7-4932-9fe3-77e00137768f"},
   :block/parent
   {:block/name "testing",
    :block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864"},
   :block/uuid #uuid "6302e7c1-22da-4ff2-ac41-e649d5e4ab95"}
  {:block/properties
   {:blockType "P",
    :stroke "var(--ls-primary-text-color)",
    :rotation 0,
    :collapsed false,
    :index 0,
    :scale [1 1],
    :pageId "Retro on Logseq Whiteboard Development",
    :scaleLevel "md",
    :ls-type :whiteboard-shape,
    :fill "var(--ls-secondary-background-color)",
    :compact false,
    :type "logseq-portal",
    :size [690.14453125 429],
    :strokeType "line",
    :strokeWidth 2,
    :opacity 1,
    :id "e627d140-21c0-11ed-a20d-7fd7d97590ac",
    :noFill false,
    :point [111.75390625 41.6171875],
    :parentId "62f46cec-4adf-4823-b9e5-2b10484f0864",
    :collapsedHeight 0,
    :nonce 1661162137245}}
  {:block/content "",
   :block/format :markdown,
   :block/parent
   {:block/name "testing",
    :block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864"},
   :block/uuid #uuid "63043bc9-328d-4ac3-b5ec-ea55fe89a802"}),
 :pages
 ({:block/uuid #uuid "62f46cec-4adf-4823-b9e5-2b10484f0864",
   :block/properties
   {:id "62f46cec-4adf-4823-b9e5-2b10484f0864",
    :name "page",
    :bindings {},
    :nonce 1,
    :assets []},
   :block/journal? false,
   :block/updated-at 1661221836291,
   :block/created-at 1660185910371,
   :block/whiteboard? true,
   :block/name "testing", 
   :block/original-name "testing"})}
